<div class="col pt-2">
    <div class="card">
        <div class="card-header">
            10:00｜2018-1-1｜課程管理｜辛普森
        </div>
        <div class="card-body col py-1">
            <form method="post">
                <div class="form-group row">
                    <p class="col-sm-3 mb-3">客戶電話</p>
                    <div class="col-sm-9">
                        <span id="span-phone">918697537</span>
                    </div>
                    <p class="col-sm-3 mb-3">課程代碼</p>
                    <div class="col-sm-9">
                        <span id="class-number">SYACDFU</span>
                    </div>
                    <p class="col-sm-3 mb-3">客群</p>
                    <div class="col-sm-9">
                        <span id="span-service-title">合作機關建議項目</span>
                    </div>
                    <p class="col-sm-3 mb-3">人數</p>
                    <div class="col-sm-9">
                        <span>3</span>
                    </div>
                    <p class="col-sm-3 mb-3">指派人員</p>
                    <div class="col-sm-9">
                        <select required="" name="assign_to" class="custom-select form-control-plaintext" type="text">
                            <option selected="" value="">被指派人員</option>
                            <option value="1">root</option>
                            <option value="2">pandamanchung</option>
                            <option value="3">GloomCheng</option>
                            <option value="4">afa24fd342dc4de0</option>
                            <option value="5">pandamanchung362c9444ab2a4e7b</option>
                            <option value="6">ChungWaiChung</option>
                            <option value="7">xinyii_lin</option>
                            <option value="8">xinyii_lin@zhelang.com.tw</option>
                            <option value="9">sss86x7x5@yahoo.com.tw</option>
                            <option value="10">oi9797@gmail.com</option>
                            <option value="11">xinyiiilin@gmail.com</option>
                            <option value="12">didierlin</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-sm " href="" role="button">
                        <i class="fa fa-check" aria-hidden="true"></i>儲存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>