<div id="reg-table" class="card mt-2">
    <div class="card-body">
    
        <div class="pagination">
            <span class="step-links">
                {% if pageTicket.has_previous %}
                    <a href="?page={{ pageTicket.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ pageTicket.number }} of {{ pageTicket.paginator.num_pages }}.
                </span>
        
                {% if pageTicket.has_next %}
                    <a href="?page={{ pageTicket.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <!--<th scope="col">日</th>-->
                    <th scope="col">客戶姓名</th>
                    <th scope="col">客戶電話</th>
                    <th scope="col">客戶Email</th>
                    <th scope="col">課程</th>
                    <th scope="col">人數</th><!--***************************這裡是我新增的******************************************************-->
                    <th scope="col">指派員工</th>
                    <th scope="col">被指派員工</th>
                    <th scope="col">實際人數</th>
                    <th scope="col">回報備註</th>
                    <th scope="col">Created at</th>
                    <th scope="col">last modified</th>
                </tr>
            </thead>
            <tbody>
                {% for t in pageTicket %}
                    <tr>
                        <th scope="row">{{t.order.time_slot.date | date:'Y-m-d'}}</th>
                        <td>{{t.order.customer_details.name}}</td>
                        <td>{{t.order.customer_details.phone}}</td>
                        <td>{{t.order.customer_details.email}}</td>
                        <td>{{t.order.service_type.service_title}}</td>
                        <td></td><!--***************************這裡是人數******************************************************-->
                        <td>{{t.assigned_by}}</td>
                        <td>{{t.assigned_to}}</td>
                        {% if t.reported_customer_number %}
                            <td>{{t.reported_customer_number}}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td style="width:300px;">{{t.reminder}}</td>
                        <th >{{t.create_at | date:'Y-m-d H:i'}}</th>
                        <th >{{t.last_modified | date:'Y-m-d H:i'}}</th>
                    </tr>
                {% endfor %}

            </tbody>
        </table>         
    </div>
</div>

<div id="reg-table-search" class="card mt-2 d-none">
    <div class="card-body">
    
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <!--<th scope="col">日</th>-->
                    <th scope="col">客戶姓名</th>
                    <th scope="col">客戶電話</th>
                    <th scope="col">客戶Email</th>
                    <th scope="col">課程</th>
                    <th scope="col">人數</th><!--***************************這裡是我新增的******************************************************-->
                    <th scope="col">指派員工</th>
                    <th scope="col">被指派員工</th>
                    <th scope="col">實際人數</th>
                    <th scope="col">回報備註</th>
                    <th scope="col">Created at</th>
                    <th scope="col">last modified</th>
                </tr>
            </thead>
            <tbody id="search-content">
                
            </tbody>
        </table>         
    </div>
</div>











