<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}You reservation has been cancelled{% endblock %}

{% block meta %} 
{% endblock %}

{% block extraheader %}
{% endblock %}

{% block body %}
<div id="main" class="container mb-3">
  <div id="section" class="row">
    <div class="col-12">
      <div class="card p-3">

            <strong>您的預約已取消，可點擊下列超連結回到我的預約。</strong>
            <a href="{% url 'my_reservation' %}">回到我的預約頁面</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
