{% extends 'base.html' %} 

{% block title %}確認預約資料{% endblock %} 

{% block meta %} 
{% endblock %} 

{% block extraheader %}
<script src="https://apis.google.com/js/api.js"></script> 
{% endblock %} 

{% block body %}
<div id="main" class="container mb-3">
  {% include 'order/order_step_bar.html' with page_name='confirm' %}
  <div id="section" class="row">
    <div class="col-lg-8 mx-auto">
      <div class="shadow card">
        <div class="card-body">
          <div class="h4 text-center">請選擇下列其中一種方式驗證身分，即可完成預約。</div>
	  <div class="row my-4">
            <div class="col-lg-8 mx-auto">
              <div class="row">
                <div class="col-12 col-lg-6 my-1">
                  <a class="validate btn btn-outline-secondary btn-block" value="{{order.pk}}" href="#" onclick="window.open('{% url 'reservation:reservation-send-email' order.pk %}', '_blank', 'location=yes,height=600,width=600,scrollbars=yes,status=yes');">電子郵件確認</a>
                </div>
                <div class="col-12 col-lg-6 my-1">
                  <a class="validate btn btn-outline-secondary btn-block" value="{{order.pk}}" href="#" onclick="window.open('{% url 'reservation:reservation-send-sms' order.pk %}', '_blank', 'location=yes,height=600,width=600,scrollbars=yes,status=yes');">電話簡訊確認</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#section -->
</div>
{% if order.status == 'unconfirmed' %}
  <script>
    $(document).ready(function() {
      $('a:not(.validate)').click(function(e) {
        e.preventDefault();
        alert('提醒您，您尚未完成預約，請選擇使用電子郵件或電話簡訊確認預約行程。');
      });
    });
  </script>
{% endif %}
{% endblock %}
