<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}您的預約行程已確認{% endblock %}

{% block meta %} 
{% endblock %}

{% block extraheader %}
{% endblock %}

{% block body %}
<div id="main" class="container mb-3">
  <div id="section" class="row">
    <div class="col-12">
      <div class="card p-3">

        <div class="alert alert-success col-12 mx-auto" role="alert">以下為您的預約內容，我們將依指定方式與您聯繫</div>

        <div class="form-group row">
          <label class="col-3 col-form-label">預約者</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.customer_details.name}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">預約活動</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.service_type.service_title}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">預約者信箱</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.customer_details.email}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">預約者號碼</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.customer_details.phone}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3">預約日期</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.time_slot.date}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3">預約時間</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.time_slot.start_time}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3">課程費用</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.service_type.service_fee}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3">預約代碼</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">{{order.code}}</div>
        </div>
        <div class="form-group row">
          <label class="col-3">預約狀態</label>
          <div class="col-9 font-weight-bold d-flex align-items-center">

            <span class="text-primary mr-2">已確認</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
