<div class="row">
  <div class="col-12 text-center">
    <ul class="steps">
      {% if page_name == 'reservation' %}
      <li class="present">
        <span>
          <a class="btn active disabled" href="#">
            <strong>參訪目的</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>參訪主題</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>預約時間</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>聯絡資訊</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>確認預約資料</strong>
          </a>
        </span>
        <i></i>
      </li>
      {% elif page_name == 'service' %}
      <li class="past">
        <span>
          <a class="btn visited" href="{% url 'reservation:reservation-index' %}#main">
            <strong>參訪目的</strong>
            <small>{{selected_customer_title}}</small>
          </a>
        </span>
        <i></i>
      </li>
      <li class="present">
        <span>
          <a class="btn active disabled" href="#">
            <strong>參訪主題</strong>
          </a>
        </span>
      </li>
      <i>
      </i>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>預約時間</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>聯絡資訊</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>確認預約資料</strong>
          </a>
        </span>
        <i></i>
      </li>
      {% elif page_name == 'date' %}
      <li class="past">
        <span>
          <a class="btn disabled visited" href="{% url 'reservation:reservation-index' %}#main">
            <strong>參訪目的</strong>
            <small>{{selected_customer_title}}</small>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn visited" href="{% url 'reservation:reservation-service' customer_pk %}#main">
            <strong>參訪主題</strong>
            <small>{{selected_service.service_title}}</small>
        </span>
        <i></i>
      </li>
      <li class="present">
        <span>
          <a class="btn active disabled" href="#">
            <strong>預約時間</strong>
        </span>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>聯絡資訊</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>確認預約資料</strong>
          </a>
        </span>
        <i></i>
      </li>
      {% elif page_name == 'info' %}
      <li class="past">
        <span>
          <a class="btn disabled visited" href="{% url 'reservation:reservation-index' %}#main">
            <strong>參訪目的</strong>
            <small>{{selected_customer_title}}</small>
          </a>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn disabled visited" href="{% url 'reservation:reservation-service' customer_pk %}#main">
            <strong>參訪主題</strong>
            <small>{{selected_service_title}}</small>
          </a>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn visited" href="{% url 'reservation:reservation-date' customer_pk service_pk %}#main">
            <strong>預約時間</strong>
            <small>{{selected_timeslot.start_time|date:"H:i"}}</small>
          </a>
        </span>
        <i></i>
      </li>
      <li class="present">
        <span>
          <a class="btn active disabled" href="#">
            <strong>聯絡資訊</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="future">
        <span>
          <a class="btn disabled" href="#">
            <strong>確認預約資料</strong>
          </a>
        </span>
        <i></i>
      </li>
      {% elif page_name == 'confirm' %}
      <li class="past">
        <span>
          <a class="btn disabled visited" href="#main">
            <strong>參訪目的</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn disabled visited" href="#main">
            <strong>參訪主題</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn disabled visited" href="#main">
            <strong>預約時間</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="past">
        <span>
          <a class="btn disabled visited" href="#main">
            <strong>聯絡資訊</strong>
          </a>
        </span>
        <i></i>
      </li>
      <li class="present">
        <span>
          <a class="btn active disabled" href="#main">
            <strong>確認預約資料</strong>
          </a>
        </span>
        <i></i>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- /#steps -->
