<!DOCTYPE html>
<div class="col-lg-4 col-sm-12 order-2 order-lg-1 mb-3 mb-lg-0">
  <h4>即時預約概況</h4>
  <div class="small">
    <div class="text-success">日期下方<span class="fc-event-dot fc-event-slot-empty"></span>表示尚可預約</div>
    <div class="text-danger">日期下方<span class="fc-event-dot fc-event-slot-full"></span>表示預約已滿</div>
    <div class="text-muted">日期顯示灰色表示非營業日</div>
  </div>
  <div id='factoryCalendar'></div>
</div>
<script type="text/javascript">
  var eventInfo = [];
  $('#factoryCalendar').fullCalendar({
    locale: 'zh-tw',
    header: {
      left: 'prev',
      center: 'title',
      right: 'next',
    },
    titleFormat: 'YYYY/MM',
    firstDay: 1,
    fixedWeekCount: false,
    height: 'auto',
    dayRender: function (date, cell) {
      $.ajax({
        method: 'GET',
        url: "{% url 'reservation:ajax-dayrender'%}",
        data: { 'date': date.format() },
        success: function (response) {
          if (response == "NO TIME SLOT") {
            //cell.append("<span class='fc-event-holiday'></span>");
            $(".fc .fc-row .fc-content-skeleton td[data-date='" + date.format() + "']").css("opacity", "0.3");
          }
          else if (response == "OUTDATED") {
            //cell.css("background-color" , "blue");
          }
          else {
            //cell.css("background-color", "#ffc107");
            var dayInfo = [];
            $.each(response.event, function(index, value) {
              var content = '';
              var capacity = '';
              if (this.capacity > 0) {
                if (typeof this.title === 'undefined') {
                  capacity = 'empty';
                  content = this.time + ' <a href="/reservation#main">可預約</a>';
                } else {
                  capacity = 'occupy';
                  content = this.time + ' 可預約 (推薦<a href="/reservation/' + this.cid + '/' + this.id + '/date/#main?date=' + this.date + '">' + this.title + '</a>)';
                }
              } else {
                capacity = 'full';
                content = '預約已滿';
              }
              cell.append('<div class="slot-' + index + ' fc-event-dot fc-event-slot-' + capacity + '"></div>');
              dayInfo.push({ 'content': content }); 
            });
            eventInfo[date.format()] = dayInfo;
          }
        }
      });
    },
  });

  $('td.fc-day-top').on({
    powerTipPreRender: function() {
      var todayContent = eventInfo[$(this).attr('data-date')];
      var popOverContent = '';
      $.each(todayContent, function(index) {
        if (index != (length - 1)) {
          popOverContent += this.content + '<br />';
        } else {
          popOverContent += this.content;
        }
      });
      $(this).data('powertip', popOverContent);
      console.log(popOverContent);
    }
  });
  $('td.fc-day-top').powerTip({
    mouseOnToPopup: true,
    placement: 'e',
    closeDelay: 300
  });
</script>
