<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}首頁{% endblock %}

{% block meta %}
  <meta property="og:url" content="{{ seo.url_address }}" />
    <meta property="og:title" content="{{ seo.title }}" />
    <meta property="og:description" content="{{ seo.description }}" />
    <meta property="og:image" content="{{ base_url }}{{ seo.img.url }}" />
    <meta property="og:type" content="{{ seo.type }}" />
    <meta name="twitter.card" content="{{ seo.description }}" />
{% endblock %}

{% block extraheader %}
{% endblock %}

{% block quickmenu %}
<div id="quick-menu" class="text-center mb-5">
  <a id="reservation" class="btn btn-success btn-lg" href="{% url 'reservation:reservation-index' %}#main">預約參觀
    <i class="fa fa-check" aria-hidden="true"></i>
  </a>
</div>
{% endblock %}

{% block body %}
<div id="main" class="container mb-3">
  <div class="row mb-5 py-3">
    {% include 'index/index_welcome.html' %}
    {% include 'index/index_calendar.html' %} 
  </div>
  <div class="row py-3">
    {% include 'index/index_contact.html' %}
    {% include 'index/index_map.html' %}
  </div>
</div>
<!-- /#main -->
{% endblock %}
