<div class="col-lg-4 col-sm-6 order-3 mb-3 mb-lg-0">
    <h4>聯絡我們</h4>
    <div class="email row p-2">
        <i class="fa fa-envelope-o fa-lg col-2 text-center" aria-hidden="true"></i><a href="mailto:{{site_info.email}}">{{site_info.email}}</a>
    </div>

    <div class="phone row p-2">
        <i class="fa fa-phone fa-lg col-2 text-center" aria-hidden="true"></i>{{site_info.phone}}
    </div>
    <div class="address row p-2">
        <i class="fa fa-map-marker fa-lg col-2 text-center" aria-hidden="true"></i><address class="d-inline">{{site_info.address}}</address>
    </div>

    <div class="social-web row p-2">
        <span class="facebook col">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FYulonEC&tabs=timeline&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=294797807684724" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </iframe>
        </span>
    </div>
</div>
