<div id="all_comments" class="tab-pane active" role="tabpanel" aria-expanded="true" aria-labelledby="comment_all">
    <div>
    {% for obj in comment_list %}
        <div class="row comment my-4">
            {% load static %}
            <!--<div class="col-2 mx-auto pl-5">
                <div class="thumbnail">
                    {% load static %}
                    <img class="img-fluid" src="/static/images/avatar.png">
                </div>
            </div>-->
            <div class="col-11 mx-auto">
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="comment-title font-weight-bold">{{ obj.title }}
                            <span class="float-right">{{obj.star}}<i class="fa fa-star" aria-hidden="true"></i></span>
                        </div>
                        <hr class="my-1">
                        <div class="comment-body">{{ obj.content }}</div>
                    </div>
                </div>
                <strong>{{ obj.user.username }}</strong> <span class="text-muted">commented {{ obj.create_at |timesince:current_time }} ago</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
