{% extends 'base.html' %}

{% block title %}評論{% endblock %}

{% block meta%} 
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-2 star_view text-warning">
      <p class="5star">
        <a href="#" id="star5">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <label for="5star" class="text-muted small">({{num5Star}})</label>
        </a>
      </p>

      <p class="4star">
        <a href="#" id="star4">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <label for="4star" class="text-muted small">({{num4Star}})</label>
        </a>
      </p>

      <p class="3star">
        <a href="#" id="star3">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <label for="3star" class="text-muted small">({{num3Star}})</label>
        </a>
      </p>

      <p class="2star">
        <a href="#" id="star2">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <label for="2star" class="text-muted small">({{num2Star}})</label>
        </a>
      </p>

      <p class="1star">
        <a href="#" id="star1">
          <i class="fa fa-star" aria-hidden="true"></i>
          <label for="1star" class="text-muted small">({{num1Star}})</label>
        </a>
      </p>
    </div>

    <div class="col-md-10">
      <ul class="nav nav-tabs mb-0" id="nav_comment" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="comment_all" data-toggle="tab" href="#all_comments" role="tab" aria-expanded="true">評論</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="go_comment" data-toggle="tab" href="#leave_comment" role="tab" aria-expanded="false">留下評論</a>
        </li>
      </ul>
      <div class="tab-content">
        {% include 'comment/all_comments.html' %} 
        {% include 'comment/leave_comment.html' %}
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('#star5').click(() => {
      $('.comment:not(.star5)').hide();
      $('.comment.star5').show();
    });
    $('#star4').click(() => {
      $('.comment:not(.star4)').hide();
      $('.comment.star4').show();
    });
    $('#star3').click(() => {
      $('.comment:not(.star3)').hide();
      $('.comment.star3').show();
    });
    $('#star2').click(() => {
      $('.comment:not(.star2)').hide();
      $('.comment.star2').show();
    });
    $('#star1').click(() => {
      $('.comment:not(.star1)').hide();
      $('.comment.star1').show();
    });
  });
</script>
{% endblock %}
