<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}評論{% endblock %}

{% block meta%} 
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div id="main" class="main-container container">
    <div class="row">
        <div class="col-lg-6 col-12">
            {% include 'comment/all_comments.html' %}
        </div>
        <div class="col-lg-6 col-12">
            {% include 'comment/leave_comment.html' %}
        </div>
    </div>
</div> <!-- /#main -->
{% endblock %}
