<div class="commenting">
    <h4>留下評論</h4>
    <!-- 這裡要判斷是否有登入，沒有登入就顯示登入畫面 -->
    <div class="row">
        {% load static %}
        <div class="col-2 avatar"><img class="img-fluid" src="{% static 'images/avatar.png' %}"></div><!-- 要印使用者的頭像 -->
        <div class="col-10">
        
            <form method="post"  >
                {% csrf_token %}
                <div class="input-group mb-3"><input type="text" name="title" class="form-control" id="commentTitle" placeholder="標題"></div>
                <div class="input-group mb-3"><textarea rows="5" name="content" class="form-control" id="commentBody" placeholder="訊息"></textarea></div>
                <fieldset class="rating input-group d-inline mb-3">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <!-- <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <!-- <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <!-- <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <!-- <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <!-- <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
                </fieldset>
                <button type="submit" class="btn btn-primary d-flex mx-auto">送出</button>
            </form>
        </div>
    </div>
</div>
