<div id="leave_comment" class="tab-pane" role="tabpanel" aria-expanded="false" aria-labelledby="go_comment">
  {% if user.is_authenticated %}
  <div class="commenting">
    <p class="pt-2 px-2 ">
      <i class="fa fa-exclamation-circle mr-1 text-dark" aria-hidden="true"></i>
      <small class="text-dark">提醒您，評論需經過審核</small>
    </p>

    {% load static %}
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3 px-2">
        <input type="text" name="title" class="form-control" id="commentTitle" placeholder="標題">
      </div>
      <div class="input-group mb-3 px-2">
        <textarea rows="5" name="content" class="form-control" id="commentBody" placeholder="訊息"></textarea>
      </div>
      <fieldset class="rating input-group d-inline mb-3 px-2">
        <input type="radio" id="star5" name="rating" value="5" />
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <!-- <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
        <input type="radio" id="star4" name="rating" value="4" />
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <!-- <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
        <input type="radio" id="star3" name="rating" value="3" />
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <!-- <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
        <input type="radio" id="star2" name="rating" value="2" />
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <!-- <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
        <input type="radio" id="star1" name="rating" value="1" />
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
        <!-- <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
      </fieldset>
      <div class="d-flex justify-content-start px-2">
        <button class="btn btn-primary mb-3" type="submit">送出</button>
      </div>
    </form>
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    請先登入網站或註冊帳號。
  </div>
  <button class="btn btn-primary d-flex mx-auto" onclick="window.open({% url 'sign-in' %}, '_blank', 'location=yes,height=600,width=420,scrollbars=yes,status=yes');">登入/註冊</button>
  {% endif %}
</div>