{% extends 'admin/admin-base.html' %}

{% block title %}常見問題管理{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<h3 class="page-heading mb-4">
  常見問題管理
  <a class="btn btn-warning float-right" href="{% url 'faq' %}" target="_blank" role="button">
    瀏覽常見問題頁
  </a>
</h3>
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          常見問題列表
          <a id="btn-add" class="btn btn-primary float-right" href="{% url 'admin-faq-create' %}" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>新增
          </a>
        </h5>
        <p class="text-muted mb-4">
          <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i>請直接編輯/刪除問題，或按右側的「新增」鈕新增問題
        </p>
        <div class="table-responsive">
          <table class="table center-aligned-table table-hover">
            <thead>
              <tr class="text-primary">
                <th class="col-1"></th>
                <th class="col-3">問題</th>
                <th class="col-5">答案</th>
                <th class="col-1">啟用?</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              {% for faq in faq_list %}
              <tr class="">
                <td></td>
                <td>{{faq.question}}</td>
                <td>{{faq.answer|safe}}</td>
                <td>{{faq.active}}</td>
                <td>
                  <a href="{% url 'admin-faq-edit' faq.pk %}" class="btn btn-primary btn-sm">編輯</a>
                </td>
                <td>
                  <a href="{% url 'admin-faq-delete' faq.pk %}" class="btn btn-danger btn-sm">刪除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

