<div class="col-8 mx-auto mt-2">
    <div class="card mb-3">
        <form method="post">
            {% csrf_token %}
            <div class="card-header">
                <h4 class="card-title">編輯預約確認信內容</h4>
            </div>
            <div class="card-body">
                <textarea name="content" id="edit" style="width:100%;height:100px;">Please click the link below to confirm your booking.
                </textarea>
            </div>
            <div class="row mb-3">
                <a class="btn btn-primary btn-block mx-auto col-2" href="" type="submit">儲存 <i class="fa fa-floppy-o"></i></a>
            </div>
        </form>
    </div>
</div>