{% extends 'admin/admin-base.html' %}

{% block title %}課程管理{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="row my-3">
    {% include 'admin/service/service_renderer.html' %}
    {% include 'admin/service/service_form.html' with form=form %}
    
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        {% if edit %}
            $('#btn-add').click(function(){
                window.location.replace("{% url 'admin-service-create' %}");
            });
        {% elif new %}
            var showing = true;
            $('#btn-add').click(function(){
                if(!showing){
                    $('#form-div').removeClass('d-none');        
                    showing = true;
                }
                else{
                    $('#form-div').addClass('d-none');        
                    showing = false;
                }
            });
        
        {% else %}
            var showing = false;
            $('#btn-add').click(function(){
                if(!showing){
                    $('#form-div').removeClass('d-none');        
                    showing = true;
                }
                else{
                    $('#form-div').addClass('d-none');        
                    showing = false;
                }
            });
        {% endif %}
    });
</script>

{% endblock %}
