{% extends 'admin_site/base.html' %}

{% block title %}課程管理{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<h3 class="page-heading mb-4">
  課程管理
</h3>
<!--<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">搜尋課程</h5>
      </div>
    </div>
  </div>
</div>-->
{% load permission_tags %}
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          課程列表
          <a id="btn-add" class="btn btn-primary float-right" href="{% url 'admin-service-create' %}" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>新增
          </a>
        </h5>
        <p class="text-muted mb-4">
          <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i>請直接編輯/刪除課程，或按右側的「新增」鈕新增課程
        </p>
        <div class="table-responsive">
          <table class="table center-aligned-table table-hover">
            <thead>
              <tr class="text-primary">
                <th class="col-1">#</th>
                <th class="col-1">課程名稱</th>
                <th class="col-1">代碼</th>
                <th class="col-3">說明</th>
                <th class="col-1">費用</th>
                <th class="col-1">時間長度(hr)</th>
                <th class="col-1">備註</th>
                <th class="col-1"></th>
                <th class="col-1">啟用?</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              {% for service in service_list %}
              <tr class="">
                <td></td>
                <td>{{service.service_title}}</td>
                <td>{{service.service_code}}</td>
                <td>{{service.service_description}}</td>
                <td>{{service.service_fee}}</td>
                <td>{{service.session_time_length}}</td>
                <td>{{service.service_note}}</td>
                <td>
                  {% if service.for_family %}
                  <label class="badge badge-success">親子</label>
                  {% endif %}
                </td>
                <td>{{service.active}}</td>
                <td>
                  {% if request.user|can:'edit_site_admin' %}
                  <a href="{% url 'admin-service-edit' service.pk %}" class="btn btn-primary btn-sm">編輯</a>
                  {% endif %}
                </td>
                <td>
                  {% if request.user|can:'edit_site_admin' %}
                  <a href="{% url 'admin-service-delete' service.pk %}" class="btn btn-danger btn-sm">刪除</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        {% if edit %}
            $('#btn-add').click(function(){
                window.location.replace("{% url 'admin-service-create' %}");
            });
        {% elif new %}
            var showing = true;
            $('#btn-add').click(function(){
                if(!showing){
                    $('#form-div').removeClass('d-none');        
                    showing = true;
                }
                else{
                    $('#form-div').addClass('d-none');        
                    showing = false;
                }
            });
        
        {% else %}
            var showing = false;
            $('#btn-add').click(function(){
                if(!showing){
                    $('#form-div').removeClass('d-none');        
                    showing = true;
                }
                else{
                    $('#form-div').addClass('d-none');        
                    showing = false;
                }
            });
        {% endif %}
    });
</script>

{% endblock %}
