<div class="col">
    <div class="card mt-2">
        <div class="card-header">
            <h4 class="card-title">目前課程
                <span>
                
                    {% if edit or new %}
                        <button id="btn-add" class="btn btn-primary btn-sm float-right" href="{% url 'admin-service-create' %}" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>新增</button>
                    {% else %}
                        <button id="btn-add" class="btn btn-primary btn-sm float-right" href="" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>新增</button>
                    {% endif %}

                
                
                </span>
            </h4>
        </div>    
        <div class="card-body">
        {% for service in service_list %}
          <div class="row">
            <a class="btn btn-light col m-1 text-left" data-toggle="collapse" href="#serv{{service.pk}}" aria-expanded="false" aria-controls="collapseExample">
              {{service.service_title}}
              <a href="{% url 'admin-service-edit' service.pk %}" class="btn btn-outline-secondary col-1 m-1" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </a>
            <div class="collapse col-12" id="serv{{service.pk}}">
              <table class="table-sm table">
                <tr>
                  <th scope="row" class="col-3">代碼</th>
                  <td>{{service.service_code}}</td>
                </tr>
                <tr>
                  <th scope="row" class="col-3">說明</th>
                  <td>{{service.service_description}}</td>
                </tr>
                <tr>
                  <th scope="row" class="col-3">費用</th>
                  <td>{{service.service_fee}}</td>
                </tr>
                <tr>
                  <th scope="row" class="col-3">課程長度</th>
                  <td>{{service.session_time_length}}</td>
                </tr>
                <tr>
                  <th scope="row" class="col-3">備註</th>
                  <td>{{service.service_note}}</td>
                </tr>
                <tr>
                  <th scope="row" class="col-3">備註</th>
                  {% if service.for_family %}
                    <td>適合成人遊客</td>
                  {% else %}
                    <td>適合親子遊客</td>
                  {% endif%}
                </tr>
              </table>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</div>
