<!DOCTYPE html>

<footer class="footer container mt-5 p-3 border border-bottom-0 border-left-0 border-right-0">
    <small class="text-center">
        <div class="copyright-text text-muted">©2017. YULON-MOTORS All rights reserved.</div>
        <div class="text-muted"><a href="{% url 'index' %}">回首頁</a>｜<a href="{% url 'tos' %}" class="modal-ajax">使用權聲明</a>｜<a href="{% url 'privacy'  %}" class="modal-ajax">隱私權保護</a>｜<a href="mailto:{{site_info.email}}" class="modal-ajax">聯絡我們</a></div>
    </small>
</footer>
