<footer class="footer container mt-5 p-3 border border-bottom-0 border-left-0 border-right-0">
  <small class="text-center">
    <div class="copyright-text text-muted">©2017. YULON-MOTORS All rights reserved.</div>
    <div class="text-muted"><a href="{% url 'index' %}">回首頁</a>｜<a href="{% url 'tos' %}" onclick="window.open({% url 'tos' %}, '_blank', 'location=yes,width=600,scrollbars=yes,status=yes');">使用權聲明</a>｜<a href="{% url 'privacy' %}" onclick="window.open({% url 'privacy' %}, '_blank', 'location=yes,width=600,scrollbars=yes,status=yes');">隱私權保護</a>｜<a href="mailto:{{ site_info.email }}">聯絡我們</a></div>
  </small>
</footer>
