{% extends 'login_base.html' %}

{% block title %}忘記密碼{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
    <div class="row">
      <h3 class="col-12 d-flex justify-content-center">忘記密碼</h3>
      <div class="card mx-auto mt-5">
        <div class="card-body">
          <div class="text-center mt-4 mb-3">
            <p>輸入您的電子信箱,我們會向您說明如何找回密碼</p>
          </div>
          <form method="post">
            {% load custom_tags %}
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
              {{ field|add_attributes:"form-control" }}
              {{ field.errors }}
              {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-block" type="submit">送出</button>
          </form>
          <div class="text-center">
            <a class="small" href="">登入</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
