<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>裕隆教育導覽中心</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="{% static 'lib/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div id="main" class="container my-3">
    <div class="row">
        <h3 class="col-12 d-flex justify-content-center">忘記密碼</h3>
        <div class="card mx-auto mt-5">
            <div class="card-body">
            <div class="text-center mt-4 mb-3">
                <p>輸入您的電子信箱,我們會向您說明如何找回密碼</p>
            </div>
            <form>
                <div class="form-group">
                <input class="form-control" id="InputEmail1" type="email" aria-describedby="emailHelp" placeholder="請輸入Email">
                </div>
                <a class="btn btn-primary btn-block" href="" type="submit">送出</a>
            </form>
            <div class="text-center">
                <a class="small" href="">登入</a>
                <!--signin.html-->
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
