<!DOCTYPE html>


<div class="row">
    <div class="col-lg-6 col-sm-12">
        <p>留下評論</p>
        <div class="sign-in">
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phonenumber</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputText3" placeholder="Phonenumber">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                        
                <p class="remarks">
                    *E-mail及Phonenumber二擇一即可
                </p>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        
            <div class="row">
                <div class="btn-group col-sm-6">
                    <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:16px; height:20px"></i></a>
                    <a class='btn btn-danger' href='' style="width:12em;"> Sign in with Google</a>
                </div>
                <br>
                <div class="btn-group col-sm-6">
                    <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:16px; height:20px"></i></a>
                    <a class='btn btn-primary ' href='' style="width:12em"> Sign in with Facebook</a>
                </div>
            </div>
        </div>  
    </div>
</div>