<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="logo navbar-brand" href="/" title="回首頁">
      {% load static %}
      <img src="{% static 'images/logo.png' %}" alt="車之道體驗中心" class="img-fluid" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-md-center">
        {% if current_page == 'index' %}
        <li class="nav-item active">
          <a class="nav-link" href="/">首頁
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/">首頁</a>
        </li>
        {% endif %} {% if current_page == 'comment' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'comments' %}">評論
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comments' %}">評論</a>
        </li>
        {% endif %} {% if current_page == 'my_reservaion' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'my_reservation' %}">我的預約
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_reservation' %}">我的預約</a>
        </li>
        {% endif %} {% if current_page == 'faq' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'faq' %}">常見問題
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'faq' %}">常見問題</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next={{ request.path | urlencode }}">登出</a>
        </li>
        {% endif %}
        <li class="nav-item border-md-left border-secondary">
          <a class="nav-link test-ride" onclick="trackOutboundLink('https://service.nissan.com.tw/testdrive?&utm_campaign=yulon&utm_source=yulonec&utm_medium=official'); return false;">
	    <div class="text-center">
              <img src="{% static 'images/logo_nissan.png' %}">
	    </div>
	    <div><span class="brand">Nissan</span>
              <br>預約試乘</div>
          </a>
        </li>
        <li class="nav-item border-md-left border-secondary">
          <a class="nav-link test-ride" onclick="trackOutboundLink('https://www.luxgen-motor.com.tw/BuyCars/testDriver/?utm_source=yulon-motor'); return false;">
            <div class="text-center">
              <img src="{% static 'images/logo_luxgen.png' %}">
	    </div>
	    <div><span class="brand">Luxgen</span>
              <br>預約試乘</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
