{% extends 'base.html' %}

{% block title %}隱私權保護聲明{% endblock %}

{% block meta%}
    <meta property="og:url" content="{{seo.url_address}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="https://{{site}}{{seo.img.url}}" />
    <meta property="og:type" content="{{seo.type}}" />
    <meta name="twitter.card" content="summary" />
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block banner %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="mastbody-inner grid-centre pd-bottom">
    <div class="headingbar">
      <div class="headingbar-main">

        <h1 class="title">隱私權保護聲明</h1>

      </div>
    </div>

    <div class="grid-container solo-indent">
      <!-- 主欄 -->
      <div class="articles grid-maincont pd-main bg-white shadow-great size-m color-norm">
        <header class="preface">
          <ul class="list-custom color-mild mg-bottom-s">
            <li>
              <b>1.</b>『裕隆日產汽車』或『我們』即為裕隆日產汽車股份有限公司。</li>
            <li>
              <b>2.</b>『NISSAN服務』即我們提供之功能和服務，包括透過（a）我們的網站www.nissan.com.tw（包括子網域、行動版本）；（b）其他現在或未來開發之軟體（如APP）、產品、媒體、服務或裝置。</li>
            <li>
              <b>3.</b>『會員』即您透過NISSAN服務，提供您之個人資料，向我們註冊成為NISSAN服務之使用者。</li>
          </ul>
          <p>裕隆日產汽車非常感謝您對我們的優良產品有興趣，並且使用NISSAN服務！關於您個人的隱私權，裕隆日產汽車會絕對尊重並提供完整之保護，我們亦將依照現行法律規範致力於維護您的隱私權，請您安心的使用NISSAN服務。但請您注意，對於NISSAN服務所連結至其他網站並不在本隱私權聲明保障之範圍。</p>
        </header>

        <div class="hr-dashed mg-top mg-bottom"></div>

        <div class="grid-colx2">
          <div class="grid-col">
            <h3 class="title-cap-loud">隱私權聲明之認同</h3>
            <ul class="list-disc-loud">
              <li>如您使用NISSAN服務，即表示您接受本隱私權聲明。如果您不接受本隱私權聲明時，請勿在NISSAN服務提供您的個人資料。請您瞭解，如果您選擇不在NISSAN服務上提供個人基本資料，您將無法使用部分內容，例如進入NISSAN服務特定頁面或區域、參加抽獎或比賽活動、索取型錄或樣品、或收到我們寄給您的電子郵件。
                、索取型錄或樣品、或收到我們寄給您的電子郵件。</li>
            </ul>

            <h3 class="title-cap-loud">個人資料之蒐集及處理</h3>
            <ul class="list-disc-loud">
              <li>當您使用NISSAN服務，NISSAN服務之網路伺服器將自動地記錄您所透過的網路服務提供者之名稱，以及您確切來訪的日期及連線時間。NISSAN服務之部分網頁亦會使用“ Cookies ”來記錄NISSAN服務訪客的瀏覽喜好，同時據以改善NISSAN服務的品質。而您的個人資料例如：姓名、地址、電話號碼、信用卡資料、暱稱、電子郵件地址
                ，或您進行蒐尋、參加討論或進行交易等之使用下，只有在您主動提供時才會被儲存。當您提供個人資料予NISSAN服務時，即表示您授權我們可依據本隱私權聲明使用您的個人資料，但您仍擁有限制NISSAN服務使用您個人資料之權利。您所使用之NISSAN服務亦可能透過您收集第三者的資料(例如提供您轉寄文章給朋友的功能，在此情況下我們需要收件者的姓名及電子郵件地址)，請瞭解我們僅在特定目的內使用前述資料(例如寄發您所轉寄的文章)。</li>
            </ul>


            <h3 class="title-cap-loud">個人資料的使用、公開方式及特定使用目的</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車對於您的個人資料將僅用於NISSAN服務之管理目的、顧客滿意度管理、產品及市場調查等之特定目的上使用。我們採取標準預防措施以確保您個人資料的安全。所有個人身份資料都是限制存取的，以避免未經授權者存取、修改或濫用。裕隆日產汽車僅能依據法律規定而揭露您的資料給司法機構或其他有權機關基於法定程序而提出之要求。裕隆日產汽車的員工及經銷商基於對裕隆日產汽車應遵行保密義務之要求，故亦將接受裕隆日產汽車之相關管理規範，請您放心。</li>
              <li>裕隆日產汽車將以 e-mail 通知您的哪些個人資料已由我們的系統所儲存。如果這些資料不正確，我們將根據您的要求進行改正。</li>
            </ul>

            <h3 class="title-cap-loud">安全防護</h3>
            <ul class="list-disc-loud">
              <li>為了防範因故意或過失所造成個人資料之毀損、破壞或為拒絕接受未經授權者的操作，裕隆日產汽車採用科技化和組織性防衛措施來保護您的個人資料，我們的安全防衛措施將隨著新科技的提昇而持續加強。</li>
            </ul>
          </div>
          <div class="grid-col">
            <h3 class="title-cap-loud">法律保護條款</h3>
            <h4 class="bullet-disc-calm size-l">著作權</h4>
            <ul class="list-disc-calm mg-left-s">
              <li>NISSAN服務所有內容，包括但不限於文字、肖像、圖表、音樂、動畫文件、錄影及所有經裕隆日產汽車所策劃、製作置於NISSAN服務上之內容均受著作權及其他智慧財產權所保護，且均為裕隆日產汽車或其權利人所有，除事先經裕隆日產汽車或其權利人之合法授權外，未經裕隆日產汽車書面授權，您不得對NISSAN服務內容基於商業用途或發行之目的進行重製、散佈，亦不得修改或轉載至其他網站
                或以其他任何形式、基於任何目的加以使用，否則應自負所有法律之責任。</li>
            </ul>

            <h4 class="bullet-dot-calm size-l">價格</h4>
            <ul class="list-disc-loud mg-left-s">
              <li>NISSAN服務上之所有價格均為建議售價。實際價格將依銷售時之價格為準。</li>
            </ul>

            <h4 class="bullet-dot-calm size-l">商標權</h4>
            <ul class="list-disc-loud mg-left-s">
              <li>在NISSAN服務上所展示之包括但不限於車型名稱、公司商標等權利均屬裕隆日產汽車所有，未經裕隆日產汽車書面授權，均不得擅自使用。</li>
            </ul>

            <h4 class="bullet-dot-calm size-l">免責事項</h4>
            <ul class="list-disc-loud mg-left-s">
              <li>NISSAN服務內容是由裕隆日產汽車所提供。經由NISSAN服務所連結的其他網站內容並非裕隆日產汽車可以控制，基此，我們無法對於任何連結網站的內容負責。裕隆日產汽車提供這些連結只為了讓您使用上方便，裕隆日產汽車不擔保其真實性、完整性、即時性或可信度，該等個人、公司或組織亦不因此而當然與裕隆日產汽車有任何僱佣、委任、代理、合夥或其他類似之關係。</li>
            </ul>

            <h4 class="bullet-dot-calm size-l">變更聲明</h4>
            <ul class="list-disc-loud mg-left-s">
              <li>裕隆日產汽車保留得逕自變更或撤銷本隱私權聲明之權利，並建議您經常瀏覽本隱私權聲明以掌握最新資訊。</li>
              <li>裕隆日產汽車承諾保護您於NISSAN服務之相關的隱私權，如果您對本隱私權聲明有任何疑問或建議，歡迎告訴我們。</li>
            </ul>
          </div>
        </div>
        <!--/.grid-colx2-->

      </div>
      <!--/.articles.grid-maincont-->
    </div>

  </div>
</div>
{% endblock %}
