{% extends 'base.html' %}

{% block title %}隱私權保護聲明{% endblock %}

{% block meta%}
    <meta property="og:url" content="{{seo.url_address}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="https://{{site}}{{seo.img.url}}" />
    <meta property="og:type" content="{{seo.type}}" />
    <meta name="twitter.card" content="summary" />
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block banner %}
{% endblock %}

{% block body %}
<div id="main" class="container mb-3">
  <h1 class="text-center my-3">隱私權保護</h1>
  <div>
    <div class="my-3">
      裕隆汽車感謝您對我們的優良產品的支持與愛護，參觀本網站！裕隆汽車將會尊重您個人的隱私權並且提供保護，裕隆汽車亦將會按照現行法律規範致力於維護您個人的隱私權，請您安心參觀本網站。但，對於本網站所連結之其他網站，並不在本隱私權聲明保障範圍之內。關於這一點，請您瞭解與注意。
    </div>
    <div>
      <h3>隱私權聲明之認同</h3>
      <p>若您參觀本網站，即表示您接受本隱私權聲明。如果您不接受本隱私權聲明時，請勿在本網站上提供您的個人資料，並即離開，否則，本網站可能會使用”Cookie”等技術自動記錄您的瀏覽訊息，尚請自行注意。請您瞭解，如果您選擇不在本網站上提供個人基本資料，您將無法使用部分內容，例如進入本網站特定網頁或區域、參加抽獎或比賽活動、索取型錄或樣品、或收到我們寄給您的電子郵件。</p>
    </div>
    <div>
      <h3>個人資料之蒐集、處理及利用</h3>
      <p>當您參觀本網站，本網站之網路伺服器將自動地記錄您所透過的網路服務提供者之名稱，以及您確切來訪的日期及連線時間等訊息。本網站之部分網頁亦會使用“Cookie”等技術來記錄本網站訪客的瀏覽喜好，同時據以改善本網站的品質。而您的個人資料，例如：姓名、地址、電話號碼、信用卡資料、暱稱、電子郵件地址等，或您進行蒐尋、參加討論或進行交易等之使用下，只有在您主動提供時才會被儲存。</p>
    </div>
  </div>
  <div class="my-3">
    <p>
      為加強裕隆汽車暨關係企業（以下依情形簡稱”裕隆汽車”）與您之間的關係：
    </p>
    <p>
      裕隆汽車可能將您的個人資料蒐集儲存以電腦處理後，提供予裕隆汽車的關係企業等共同管理使用，以建立客戶共同管理體系，期能更加了解您的服務需求，並強化、完善裕隆汽車的產品及服務；且裕隆汽車委託之第三人或合作夥伴可能利用您提供的個人資料與您聯絡，針對您的服務需求介紹裕隆汽車的產品與服務，提供豐富的共同行銷資訊，或透過線上問卷調查深入了解您的需求。
    </p>
    <p>
      為保障您的合法權益，若您於加入本網站時已填具各項個人資料而不同意我們處理利用者，請於填具之日起七日內以書面（不限格式）載明”不同意”之意旨，具名傳真至本公司裨憑辦理，我們將會針對您的資料做個別處理。否則，依據電腦處理個人資料保護法施行細則第30條第2項之規定，如您未向本公司聲明不同意者，依法將推定您同意本公司得將您的個人資料為電腦處理蒐集及利用。
    </p>
    <p>
      當您提供個人資料予本網站而未為任何反對之表示時，即表示您同意並授權我們可依據本隱私權聲明蒐集、處理及使用您的個人資料，但您仍擁有限制本網站使用您個人資料之權利。您所進入本網站之網頁亦可能透過您收集第三者的資料（例如提供您轉寄文章給朋友的功能，在此情況下我們需要收件者的姓名及電子郵件地址），請瞭解我們僅在特定目的內使用前述資料（例如寄發您所轉寄的文章）。
    </p>
    <div>
      <h3>個人資料的使用、公開方式及特定使用目的</h3>
      <p>對於您所提供之個人資料，裕隆汽車將用於處理本網站的管理、顧客滿意度調查、商品及市場調查、共同客戶管理、共同行銷處理、您的案件服務、為您提供特定資訊、為您提供特別優惠，或回覆您的查詢等用途。</p>
      <p>
        我們將採取標準防護措施以確保您個人資料的安全。所有您的個人資料都是限制存取的，以避免未經授權者存取、修改或濫用。裕隆汽車僅能依據法律規定而揭露您的個人資料給司法機關或其他有權機關基於法定程序而提出之要求。裕隆汽車的員工及經銷商基於對裕隆汽車將遵行保密義務之承諾，故亦將接受裕隆汽車之相關管理規範，請您放心。
      </p>
      <p>
        若您主動填具個人資料，裕隆汽車將以e-mail通知您的個人資料已由我們的系統所儲存。如果這些資料不正確者，我們將根據您的要求進行改正。
      </p>
    </div>
    <div>
      <h3>安全防護</h3>
      <p>為了防範因故意或過失所造成個人資料之毀損、破壞或為拒絕接受未經授權者的操作，裕隆汽車採用科技化和組織性防護措施來保護您的個人資料，我們的安全防護措施將會隨著新科技的提昇而持續加強與更新。</p>
    </div>
    <div>
      <h3>著作權及其他智慧財產權</h3>
      <p>本網站所有內容（包括但不限於文字、肖像、圖表、音樂、動畫文件、錄影及所有經裕隆汽車所編輯、製作置於網站上之內容）均為裕隆汽車或各該權利人所有，且均受著作權法及其他智慧財產權法律（包括但不限於商標法、專利法、營業祕密法等）所保護，除事先經裕隆汽車或各該權利人之合法授權外，未經裕隆汽車或各該權利人書面授權，您不得對本網站內容基於任何目的進行重製、散佈或其他利用，亦不得修改、編輯、改作或轉載至其他網站或以其他任何形式、基於任何目的加以使用，否則應自負一切法律責任。</p>
    </div>
    <div>
      <h3>商標權及其他</h3>
      <p>在本網站上所展示之包括但不限於產品名稱、車型名稱、公司商號名稱、網址名稱、商標權等權利均屬裕隆汽車所有，未經裕隆汽車書面授權，您均承諾保證不為擅自使用。否則，應對裕隆汽車因此所受之一切損失（包括但不限於律師費、訴訟費用），負完全賠償之責。</p>
    </div>
    <div>
      <h3>免責事項</h3>
      <p>請您注意，本網站內容是由裕隆汽車所提供，但經由本網站所連結的其他網站及其內容，並非裕隆汽車可以控制，基此，我們無法對於任何連結網站及其內容負責。<br />
      裕隆汽車提供這些連結只為了讓您使用上的方便，裕隆汽車不擔保其真實性、完整性、即時性或可信度，該等個人、公司或組織亦不因此而當然與裕隆汽車有任何僱傭、委任、代理、合夥或其他類似之關係。</p>
    </div>
  </div>
  <div class="my-3">
    <p>
      裕隆汽車保留得逕自變更或撤銷本隱私權聲明之權利，並建議您經常瀏覽本隱私權聲明以掌握最新資訊。
    </p>
  </div>
</div>
</div>
{% endblock %}
