<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>車之道體驗中心</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="{% static 'lib/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div class="card mx-auto mt-5 text-center">
    <h3 class="mt-5">確認信已寄出</h3>
    <div class="card-body">
        <div class="mb-4">
            <p>如無輸入錯誤，我們已經通過電子郵件向您發送了重設密碼的說明<br>您應該很快收到</p>
        </div>
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation" aria-hidden="true"></i> 若無收到電子郵件，請確保您輸入了您註冊的地址，並檢查垃圾郵件文件夾
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
    });

</script>
</body>
</html>

