<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>車之道體驗中心</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="{% static 'lib/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<div class="container-fluid my-auto py-auto mh-100">
  <div class="row my-auto">
    <div class="alert alert-success col-9 mt-5 mx-auto" role="alert">
      您已成功登入網站，請按下方按鈕回到主頁
    </div>
  </div>
  <div class="row my-auto">
    <a href="{% url 'index' %}" class="btn btn-primary btn-sm mx-auto col-2" role="button">回到主頁</a>
  </div>
</div>
</body>
</html>