<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>裕隆教育導覽中心</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="{% static 'lib/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
  <script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body>
  <div class="mastbody-inner grid-centre pd-bottom">
    <div class="headingbar">
      <div class="headingbar-main">

        <h1 class="title">NISSAN 服務會員暨使用條款</h1>

      </div>
    </div>


    <div class="grid-container solo-indent">

      <!-- 主欄 -->
      <article class="articles grid-maincont pd-main bg-white shadow-great size-m color-norm">
        <header class="preface">
          <ul class="list-custom color-mild mg-bottom-s">
            <li>
              <b>1.</b>『裕隆日產汽車』或『我們』即為裕隆日產汽車股份有限公司。</li>
            <li>
              <b>2.</b>『NISSAN服務』即我們提供之功能和服務，包括透過（a）我們的網站www.nissan.com.tw（包括子網域、行動版本）；（b）其他現在或未來開發之軟體（如APP）、產品、媒體、服務或裝置。</li>
            <li>
              <b>3.</b>『會員』即您透過NISSAN服務，提供您之個人資料，向我們註冊成為NISSAN服務之使用者。</li>
            <li>
              <b>4.</b>『本條款』即NISSAN服務會員暨使用條款。</li>
          </ul>
          <p>歡迎使用NISSAN服務，為保障您的權益及讓您合法使用NISSAN服務，請於註冊成為會員並使用NISSAN服務前，詳細閱讀本條款之內容。當您點選「我同意」鍵時， 即表示您已同意使用裕隆日產汽車所提供之NISSAN服務，並視為您已充分閱讀並瞭解本條款，且同意遵守下列規範。</p>
          <p>由於我們提供之服務範圍相當廣泛，我們可能會要求您檢視並同意您與特定軟體、產品、媒體或服務之互動關係的附加條款，若該附加條款與本條款有所牴觸者，則您對軟體、產品、媒體或服務的使用仍受該附加條款之規範。</p>
        </header>

        <div class="hr-dashed mg-top mg-bottom"></div>

        <div class="grid-colx2">
          <div class="grid-col">
            <h3 class="title-cap-loud">會員授權</h3>
            <ul class="list-disc-loud">
              <li>透過NISSAN服務提出申請加入會員者，裕隆日產汽車有審核會員資料，並核定是否准允加入之權利。</li>
            </ul>

            <h3 class="title-cap-loud">遵守會員規範及法律規定</h3>
            <ul class="list-disc-loud">
              <li>當您註冊成為會員後，可使用NISSAN服務，包含相關服務好康訊息電子郵件、會員電子報或其他之一般會員服務。會員使用NISSAN服務時，視為會員同意接受本條款及所有注意事項之拘束，並同意遵守中華民國或當地之法令。</li>
            </ul>


            <h3 class="title-cap-loud">網際網路服務</h3>
            <ul class="list-disc-loud">
              <li>NISSAN服務係透過網際網路提供您各項服務。您必須自行配備上網所需之各項硬體設備，以及負擔接上網際網路之相關費用。</li>
            </ul>

            <h3 class="title-cap-loud">真實登錄義務</h3>
            <ul class="list-disc-loud">
              <li>基於裕隆日產汽車所提供之NISSAN服務，您同意於註冊時提供完整詳實且符合真實之個人資料，您所登錄之資料事後有變更時，應隨時於線上更新之，若因未更新而致您的會員權益受損，由您自行負責，裕隆日產汽車不負任何責任。如有任何虛假或冒用他人名義登錄，您應自負法律責任。</li>
              <li>您提供之個人資料不得有填寫不實，或原登錄之資料已不符而未更新，或有任何誤導他人之情事，若有，裕隆日產汽車保留隨時終止您的會員資格及使用各項服務資格之權利。</li>
              <li>如果您提供之個人資料違反或破壞裕隆日產汽車服務宗旨，裕隆日產汽車保留隨時終止您的會員資格及使用各項服務資格之權利。</li>
              <li>若您使用虛偽不正當之方式進行
                <em class="color-loud">累積紅利等行為</em>，裕隆日產汽車也將保留隨時終止您的會員資格及使用各項服務之權利。</li>
            </ul>



            <h3 class="title-cap-loud">本條款之修改</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車保留隨時修改本條款之權利，修正後之本條款將透過NISSAN服務公佈，並自公佈之日起即時生效，不另作個別之通知，建議您隨時注意該等修改或變更。您於任何修改或變更本條款後若繼續使用NISSAN服務，視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本條款的內容，或者您所屬的國家或地域排除本同意書內容之全部或部份時，您應立即停止使用NISSAN服務。</li>
            </ul>


            <h3 class="title-cap-loud">服務中止與修改</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車保留隨時中止、新增、刪除或修改各項服務內容或終止任一會員帳戶服務之權利，且無需事先通知您。無論任何情形，就中止或更改服務所可能產生之困擾、不便或損害，裕隆日產汽車對您或第三人均不負任何賠償或補償責任。</li>
            </ul>



            <h3 class="title-cap-loud">停止或中斷提供服務</h3>
            <ul class="list-disc-loud">
              <li>如發生下列情形時，裕隆日產汽車有權停止或中斷提供服務。對此產生困擾、不便或損害，裕隆日產汽車對您或第三者均不負任何責任：</li>
              <li>發生突發性之電子通信設備故障時；電子通信設備進行必要之保養及施工時；裕隆日產汽車所申請之電子通信服務不論因任何因素而遭中止，無法提供服務時；由於天災等不可抗力之因素致使無法提供服務時；在緊急情況下為維護其他會員或第三人之人身安全時。</li>
            </ul>


            <h3 class="title-cap-loud">責任限制</h3>
            <ul class="list-disc-loud">
              <li>您應瞭解並同意，NISSAN服務可能因我們、其他協力廠商或相關電信業者網路系統、軟硬體設備之故障或失靈或人為操作上之疏失而全部或部份中斷、暫時無法使用、遲延、或造成資料傳輸或儲存上之錯誤、或遭第三人侵入系統篡改或偽造變造資料等，您不得因此而要求任何補償或賠償。</li>
            </ul>


            <h3 class="title-cap-loud">保管及通知義務</h3>
            <ul class="list-disc-loud">
              <li>您有義務妥善保管您的會員帳號與密碼，並為此組帳號與密碼登入NISSAN服務後所進行之一切行為負責。為維護您自身權益，請勿將帳號與密碼洩露或提供予第三人知悉，或出借或轉讓他人使用。若您發現帳號或密碼遭人非法使用或有任何異常破壞使用安全之情形時，應立即通知裕隆日產汽車，因未及時通知裕隆日產汽車致無法有效防止或修護時，您應自負全責。但若是因您保管疏失，而導致帳號、密碼遭他人非法使用時，裕隆日產汽車將不負責處理。</li>
            </ul>

            <h3 class="title-cap-loud">風險承擔</h3>
            <ul class="list-disc-loud">
              <li>您同意使用NISSAN服務係基於您的個人意願，並同意自負任何風險，包括因為自NISSAN服務下載資料或圖片，或自NISSAN服務中獲得之資料導致您的電腦系統損壞，或是發生任何資料流失等結果。</li>
            </ul>

            <h3 class="title-cap-loud">特別同意事項</h3>
            <ul class="list-disc-loud">
              <li>您同意絕不使用NISSAN服務來傷害、侵犯或攻擊裕隆日產汽車之員工、顧問、關係企業、廣告主、相關合作廠商以及經銷公司之員工。</li>
            </ul>

            <h3 class="title-cap-loud">個人資料</h3>
            <ul class="list-disc-loud">
              <li>對於您所登錄或留存之個人資料（包括描述個人、辨識個人、辨識財務、職業、習慣、婚姻、家庭、財產及社會情況等資料），您同意裕隆日產汽車及其所委託從事產品推廣、銷售、包裝、寄送、客戶服務、資料處理與整理、市場調查之人員、公司、機構或團體，得在行銷汽車整車、零配件及相關周邊或相關產品或服務、提供產品售後服務、會員管理、網站管理、網站行為研究及其他合於裕隆日產汽車營業登記項目之業務活動範圍內，蒐集、處理及利用您之個人資料，您並同意裕隆日產汽車得將您的個人資料提供予裕隆日產汽車之關係企業及經銷公司，於與前述目的類似之目的範圍內，蒐集、處理及利用。利用之期間、地區、對象及方式均不受任何限制。</li>
              <li>為了方便您使用NISSAN服務並提昇NISSAN服務的品質，您同意我們得透過我們的經銷商管理系統取得您的基本資料及所屬的車籍資料、保養維修記錄、紅利、保險資料等。</li>
              <li>您了解，您就所提供之個人資料依法得行使查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用以及請求刪除等權利。您亦了解，同意上述事項為您接受裕隆日產汽車所提供或安排之各項服務之必要條件。您得自由選擇是否要接受裕隆日產汽車所提供或安排之各項服務。</li>
              <li>會員有任何違反本條款之情形，裕隆日產汽車合理懷疑有不法情事發生時，裕隆日產汽車得主動將您的相關資料提供檢警調機關調查處理。</li>
            </ul>
          </div>
          <div class="grid-col">
            <h3 class="title-cap-loud">隱私權保護</h3>
            <ul class="list-disc-loud">
              <li>對於您所登錄或留存之個人資料，您同意接受裕隆日產汽車之「隱私權保護」 聲明（請參閱「裕隆日產汽車隱私權保護聲明」)。</li>
            </ul>

            <h3 class="title-cap-loud">擔保責任免除</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車就NISSAN服務，不負任何明示或默示之擔保責任。裕隆日產汽車不保證NISSAN服務之穩定、安全、無誤及不中斷。您應承擔使用NISSAN服務之所有風險及可能致生之任何損害。</li>
              <li>您了解NISSAN服務上刊登有商業廣告及各種商品之促銷資訊。該等內容均係由廣告商或商品服務提供人所為，裕隆日產汽車僅係提供刊登內容之媒介。對於透過NISSAN服務銷售之商品，裕隆日產汽車對其交易過程及商品本身，均不負任何擔保責任。您了解您透過NISSAN服務所購得之商品或服務之品質、保固及售後服務，完全由商品或服務提供人負全責，若有任何瑕疵或擔保責任，均與裕隆日產汽車無關。</li>
              <li>NISSAN服務所提供之行車相關資訊係連結外部資訊，僅供您參考與應用，若資訊有任何錯誤或與實際不符之處，均與裕隆日產汽車無關。</li>
              <li>為確保您的安全，請勿於步行、移動或開車期間使用NISSAN服務，以免發生事故。若不遵守因而肇生任何事故意外損害，均與裕隆日產汽車無關。</li>
            </ul>

            <h3 class="title-cap-loud">賠償責任限制</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車對於您使用NISSAN服務、或無法使用NISSAN服務所致生之任何直接、間接、衍生、或特別損害、損失或費用，不負任何賠償責任。若您使用之NISSAN服務係有相對現金價格者，裕隆日產汽車僅於您所給付之相對現金價格範圍內，負賠償責任。</li>
              <li>上述賠償責任限制，若依法為不得限制者，則限制規定將不予適用。</li>
            </ul>

            <h3 class="title-cap-loud">智慧財產權</h3>
            <ul class="list-disc-loud">
              <li>NISSAN服務上之所有著作及資料，其著作權、專利權、商標、營業秘密、其他智慧財產權、所有權或其他權利，均為裕隆日產汽車或其權利人所有，除事先經裕隆日產汽車或其權利人之合法授權外，您不得擅自重製、散布、傳輸、改作、編輯、租用、出售
                或以其他任何形式、基於任何目的加以使用，否則應自負所有法律之責任。
              </li>
              <li>NISSAN服務之內容及程式為裕隆日產汽車之智慧財產，未經裕隆日產汽車授權，不得擅自複製、進行還原工程（ reverse engineering ）、解編 (de-compile) 或反向組譯 (disassemble)
                任何功能或程式。裕隆日產汽車只提供您以登入的方式使用會員資格的服務，若以其他任何方式進入 NISSAN服務，裕隆日產汽車將追究該人員相關之法律責任。</li>
            </ul>

            <h3 class="title-cap-loud">連結</h3>
            <ul class="list-disc-loud">
              <li>NISSAN服務所提供之所有連結，可能連結到其他個人、公司或組織之網站，提供該等連結之目的，僅係為便利您自行搜集或取得資訊，裕隆日產汽車對於被連結之該等個人、公司或組織之網站上所提供之產品、服務或資訊，既不擔保其真實性、完整性、即時性或可信度，該等個人、公司或組織亦不因此而當然與裕隆日產汽車有任何僱佣、委任、代理、合夥或其他類似之關係。</li>
            </ul>

            <h3 class="title-cap-loud">會員的義務與責任</h3>
            <ul class="list-disc-loud">
              <li>您對本身透過NISSAN服務傳輸的一切內容自負全責。</li>
              <li>您承諾遵守中華民國相關法規及一切國際網際網路規定與慣例。若使用台灣地區以外之網路服務，需同意遵守當地之法令及網路慣例。</li>
              <li>您承諾不以任何方式企圖破壞及干擾NISSAN服務上各項資料與功能，且沒有入侵或破壞網路上任何系統之企圖或行為。否則依法追究。</li>
              <li>您同意並保證不公布或傳送任何毀謗、不實、威脅、不雅、猥褻、不法、攻擊性、毀謗性或侵害他人智慧財產權的文字，圖片或任何形式的檔案於NISSAN服務。</li>
              <li>您同意不會於NISSAN服務上從事廣告或販賣商品行為。</li>
              <li>您同意避免在公眾討論區討論私人事務，發表文章時，請尊重他人的權益及隱私權。</li>
              <li>您同意必須充份尊重著作權，禁止發表侵害他人各項智慧財產權之文字、圖片或任何形式的檔案。</li>
            </ul>

            <h3 class="title-cap-loud">紅利辦法</h3>
            <ul class="list-disc-loud">
              <li>紅利辦法請參閱NISSAN服務之
                <a class="link-dark" href="#">車主服務相關說明</a>。</li>
            </ul>

            <h3 class="title-cap-loud">禁止從事違反法律規定之行為</h3>
            <ul class="list-disc-loud">
              <li>裕隆日產汽車就您的行為是否符合本條款，有最終決定權。若裕隆日產汽車決定您的行為違反本條款或任何法令，您同意裕隆日產汽車得隨時停止帳號使用權或清除帳號，及取消您使用NISSAN服務的權利。您若有違反法律規定之情事，應自負法律責任。</li>
            </ul>

            <h3 class="title-cap-loud">損害賠償</h3>
            <ul class="list-disc-loud">
              <li>因您違反相關法令或違背本條款之任一條款，致裕隆日產汽車或其關係企業、受僱人、受託人、代理人及其他相關履行輔助人因此而受有損害或支出費用（包括但不限於因進行民事、刑事及行政程序所支出之律師費用等）時，您應負擔損害賠償責任或補償其費用。</li>
            </ul>

            <h3 class="title-cap-loud">個別條款之效力</h3>
            <ul class="list-disc-loud">
              <li>本條款之全部或部分無效時，不影響其他條款之效力。</li>
            </ul>

            <h3 class="title-cap-loud">準據法及管轄法院</h3>
            <ul class="list-disc-loud">
              <li>本條款之解釋及適用、以及您因使用NISSAN服務而與裕隆日產汽車間所生之權利義務關係，應依中華民國法令解釋適用之。若有涉訟或爭議，均同意以臺灣臺北地方法院為第一審管轄法院。</li>
            </ul>
          </div>
        </div>
        <!--/.grid-colx2-->

      </article>
      <!--/.articles.grid-maincont-->
    </div>

  </div>
</body>

</html>
