{% extends 'base.html' %}

{% block title %}使用權聲明{% endblock %}

{% block meta%}
    <meta property="og:url" content="{{seo.url_address}}" />
    <meta property="og:title" content="{{seo.title}}" />
    <meta property="og:description" content="{{seo.description}}" />
    <meta property="og:image" content="https://{{site}}{{seo.img.url}}" />
    <meta property="og:type" content="{{seo.type}}" />
    <meta name="twitter.card" content="summary" />
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block banner %}
{% endblock %}

{% block body %}
<div id="main" class="container mb-3">
  <h1 class="text-center my-3">使用權聲明</h1>
  <div>
    <p>
      請您在瀏灠本網頁時，務必先行仔細閱讀此「使用須知條款」，當您使用本網站時，即視為您同意全部條款。如果您對於條款內容有任何的疑慮，或是不同意時，請您立即離開並不要使用本網站。
    </p>
    <p>
      本網站將不定期修改本須知及本網站之內容，請您在每次瀏灠本須知前，請先確認修改之日期。
    </p>
    <p>本網站會盡力更新本網站的內容，但請不要假設本網站上的一切資料都是最新，或是正確、準確、 可靠。本公司對於本網站的內容不提供任何擔保，亦不保證不會受到電腦病毒或其他零組件的損失。 </p>
    <p>本網站特別標示外，本網站的一切軟體、圖片、文字或照片的一切智慧財產權，都屬於裕隆汽車公司( 以下簡稱”裕隆汽車”)所有，您無權複製、散佈、上傳、公告、轉讓，或用任何方法傳輸、改變本網站的全部內容，亦無權解編、還原、拆解本網站或軟體。若您經本公司書面許可而下載本網站的任何軟體、圖片、文字或照片，均僅能供做合法使用。您若未經裕隆汽車的同意而擅自使用本網站的任何內容，本公司隨時採取一切法律途徑維護本公司的權利。
      </p>
    <p>裕隆汽車不會對於因為傳輸的延誤、電腦病毒、線路故障，負擔任何責任。 </p>
    <p>如您因使用本網站而傳送任何資料給予本公司或至本網站時，您必須保證該內容並無任何不法、侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。如本公司收到任何有關網頁瀏灠者所提供之內容，有上述情事之投訴時，本公司有絕對權力決定是否刪除有關內容或提出刪除要求。
      </p>
    <p>同時您透過本網站提供予本公司的任何資料，視為您同意永久無償授權本公司使用，並可散佈、出版、傳送、編輯、改作、發行、公開發表、進行還原工程、解編、反向組譯，或者以商業的目的加以使用。 </p>
    <p>本使用須知依中華民國法律規範。網頁瀏灠者在不可撤銷及無條件的情形下，同意接受中華民國法院為唯一司法區域，並以台北地方法院為第一審管轄法院。</p>
    <p>此條款得分割，如因任何理由致某條款的部分或全部無效時，該無效的部分不影響其他條款的效力。</p>
  </div>
</div>
{% endblock %}