{% extends 'admin_site/login_base.html' %}

{% block title %}重設密碼{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="card mx-auto mt-5 text-center">
    <h3 class="mt-5">確認信已寄出</h3>
    <div class="card-body">
        <div class="mb-4">
            <p>如無輸入錯誤，我們已經通過電子郵件向您發送了重設密碼的說明<br>您應該很快收到</p>
        </div>
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation" aria-hidden="true"></i> 若無收到電子郵件，請確保您輸入了您註冊的地址，並檢查垃圾郵件文件夾
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
    });

</script>

{% endblock %}

