{% extends 'admin_site/login_base.html' %}

{% block title %}重設密碼說明{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="card mx-auto mt-5 text-center" id="reset_password">
    <h3 class="mt-5">重設密碼說明 : </h3>
    <div class="card-body">
        <div class="mb-4">
            <p>您收到此電子郵件是因為您要求在{{site_name}}為您的帳戶重置密碼</p>
        </div>
        <div class="mb-4">
            <p>請點按以下連結至重設密碼頁面設置新密碼 : <br><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
        </div>
        <div class="mb-4">
            <p>提醒您，您的用戶名為 : {{user.get_username}}</p>
        </div>
    </div>
</div>

{% endblock %}

