{% extends 'admin_site/login_base.html' %}

{% block title %}已重設密碼{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="card-body mt-5 pt-5">
    <div class="col-lg-4 mx-auto">
        <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">已重設密碼!</h4>
            <p>您的密碼已重設，您可以點按以下連結前往登入</p>
            <hr>
            <p><a href="{{ login_url }}">登入</a></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function () {
        
    });

</script>

{% endblock %}

