<nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
  <div class="user-info">
    <h2 class="rounded-circle d-flex justify-content-center align-items-center bg-info mx-auto" style="width: 60px; height: 60px;">{{ request.user.first_name|slice:":1" }}</h2>
    
    <p class="name">{{ request.user.username }}</p>
    
    {% if request.user.groups.all.0.name == 'manager' %}
        <p class="designation">Manager</p>
    {% else %}
        <p class="designation">Staff</p>
    {% endif %}
        
    <a href="{% url 'admin-user-profile' %}" class="btn btn-success w-50 mx-auto">變更個人資料</a>
  
  </div>
  <hr />
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#companyInfo" aria-expanded="false" aria-controls="companyInfo">
        <i class="fa fa-info-circle d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">基本設定</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="companyInfo">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-siteinfo' %}">公司資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-banner' %}">橫幅圖管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-faq' %}">常見問題管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-seo' %}">搜尋引擎優化</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-email' %}">Email/簡訊內容範本</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#serviceManage" aria-expanded="false" aria-controls="serviceManage">
        <i class="fa fa-cogs d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">服務管理</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="serviceManage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-service' %}">課程管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-customer' %}">客群管理</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#workCalendar" aria-expanded="false" aria-controls="workCalendar">
        <i class="fa fa-calendar d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">工廠開放日管理</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="workCalendar">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-calendar' %}">批次設定開放時段</a>
          </li>
          <li class="nav-item">
            {% now "Y-m-d" as DATE %}
            <a class="nav-link" href="{% url 'admin-timeslot-date' date=DATE %}">設定單日開放時段</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#reserveManage" aria-expanded="false" aria-controls="reserveManage">
        <i class="fa fa-calendar-check-o d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">預約管理</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="reserveManage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-order' %}">訂單管理/指派導覽人員</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-ticket' %}">預約單總覽</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#statisticManage" aria-expanded="false" aria-controls="statisticManage">
        <i class="fa fa-bar-chart d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">統計分析</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="statisticManage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-statistic' %}">瀏覽統計圖表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-data' %}">下載原始數據資料</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#confManage" aria-expanded="false" aria-controls="confManage">
        <i class="fa fa-cogs d-flex align-items-center" aria-hidden="true"></i>
        <span class="menu-title">其他</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-right pull-right"></i>
        </span>
      </a>
      <div class="collapse" id="confManage">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-comment' %}">評論管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-user-account' %}">創建帳號</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin-user-permission' %}">權限管理</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">...</a>
          </li> -->
        </ul>
      </div>      
    </li>
  </ul>
</nav>
