{% extends 'admin_site/base.html' %}

{% block title %}創建帳號{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="row">
    {% include 'admin_site/user/account_renderer.html' %}
    {% include 'admin_site/user/account_form.html' %}
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
      

        
        $('.btn-edit').click(function(){
            
            var username = $(this).attr('value')
            $.ajax({
                url:"{% url 'ajax-admin-get-user-account' %}",
                data:{"username":username},
                success:function(response){
                
                    if (response != "non-admin"){
                        //console.log(response);
                        $("#form-create").addClass('d-none');
                        $("#form-edit").removeClass('d-none');
                        
                        $("#hidden-username").val(username);
                        $("#in-fist-name").val(response.first_name);
                        $("#in-last-name").val(response.last_name);
                        $("#in-email").val(response.email);
                        $('#in-role').val(response.role).change();
                    }
                }
            });
            
        });
        
        $('#btn-create').click(function(){
            $("#form-create").removeClass('d-none');
            $("#form-edit").addClass('d-none');
            $("#hidden-username").val("");
        });
        
        
        $('#btn-save').click(function(){
           
            var username = $("#hidden-username").val();
            if (username != ""){
                $.ajax({
                    url:"{% url 'ajax-admin-user-account-edit' %}",
                    type:'POST',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            username:username,
                            first_name:$("#in-fist-name").val(),
                            last_name:$("#in-last-name").val(),
                            email:$("#in-email").val(),
                            role:$('#in-role').val()
                    },
                    success:function(response){
                        if (response == "success"){
                            window.location.replace("{% url 'admin-user-account' %}");
                        }
                    }
                });
            }
        });
        
        $('#btn-del').click(function(){
            
            var username = $("#hidden-username").val();
            if (username != ""){
                $.ajax({
                    url:"{% url 'ajax-admin-user-account-del' %}",
                    type:'POST',
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            username:username,
                    },
                    success:function(response){
                        if (response == "success"){
                            window.location.replace("{% url 'admin-user-account' %}");
                        }
                    }
                });
            }
        });
        
        
        
    });

</script>
{% endblock %}
