<div class="col pt-2">
    <div class="card">
        <div class="card-header">
            <h4>目前的帳號
                <span>
                    <a class="btn btn-outline-secondary btn-sm float-right" href="" role="button"><i class="fa fa-plus" aria-hidden="true"></i>新增</a>
                </span>
            </h4>
        </div>
        <div class="card-body">
            <div class="row mx-auto">
                <a class="btn btn-light col m-1 text-left" data-toggle="collapse" href="#manager1" aria-expanded="false" aria-controls="staff1">
                    張大頭
                    <a class="btn btn-outline-secondary col-1 m-1" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </a>
                <div class="collapse col-12 px-1" id="manager1">
                    <div class="card card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                <th scope="row">姓</th>
                                <td>張</td>
                                </tr>
                                <tr>
                                <th scope="row">名</th>
                                <td>大頭</td>
                                </tr>
                                <tr>
                                <th scope="row">帳號</th>
                                <td>bighead</td>
                                </tr>
                                <tr>
                                <th scope="row">E-mail</th>
                                <td>bighead@gmail.com</td>
                                </tr>
                                <tr>
                                <th scope="row">角色</th>
                                <td>管理者</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>