{% extends 'admin/base.html' %}

{% block title %}預約管理{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="row my-3">
    {% include 'admin/order/order_datepicker.html' %}
</div>
<div class="row my-3">
    {% include 'admin/order/order_renderer.html' %}
    {% include 'admin/order/order_form.html' %}
</div>


<script type="text/javascript">

  $(document).ready(function () {
      
      
      $('.btn-edit-order').click(function(){
            var order_pk = $(this).attr('value');
            //console.log(order_pk);
            $.ajax({
                url:"{% url 'ajax-get-order' %}",
                data:{'order_pk':order_pk},
                success:function(response){
                    //console.log(response);
                    $("#span-username").text(response.username);
                    $("#span-service-title").text(response.service_title);
                    if (response.status == 'unconfirmed'){
                        $("#span-status").text('未確認').addClass('text-danger');
                    }
                    else{
                        $("#span-status").text('已確認').addClass('primary');
                    }
                    $('#span-name').text(response.name);
                    $('#span-phone').text(response.phone);
                    $('#span-email').text(response.email);
                    $('#span-address').text(response.address);
                    $('#hidden-order-pk').val(order_pk);
                    $('#hidden-ticket-pk').val("");
                }
            });
      });
      
      $('.btn-edit-ticket').click(function(){
          var ticket_pk = $(this).attr('value');
          //console.log(ticket_pk);
            $.ajax({
                url:"{% url 'ajax-get-ticket' %}",
                data:{'ticket_pk':ticket_pk},
                success:function(response){
                    //console.log(response);
                    $("#span-username").text(response.username);
                    $("#span-service-title").text(response.service_title);
                    if (response.status == 'unconfirmed'){
                        $("#span-status").text('未確認').addClass('text-danger');
                    }
                    else{
                        $("#span-status").text('已確認').addClass('primary');
                    }
                    $('#span-name').text(response.name);
                    $('#span-phone').text(response.phone);
                    $('#span-email').text(response.email);
                    $('#span-address').text(response.address);
                    $('#hidden-ticket-pk').val(ticket_pk);
                    $('#hidden-order-pk').val("");
                }
            });
          
          
      });
      
      
  });

</script>
{% endblock %}
