
<section class="content col-md-7 col-sm-12 mt-2">
    <div class="content__inner">
        <header class="content__title content__title--calendar">
            <div class="actions actions--calendar">
                <a href="" class="actions__item actions__calender-prev"><i class="zmdi zmdi-long-arrow-left"></i></a>
                <a href="" class="actions__item actions__calender-next"><i class="zmdi zmdi-long-arrow-right"></i></a>
                <i class="actions__item actions__item--active zmdi zmdi-view-comfy" data-calendar-view="month"></i>
                <i class="actions__item zmdi zmdi-view-week" data-calendar-view="basicWeek"></i>
                <i class="actions__item zmdi zmdi-view-day" data-calendar-view="basicDay"></i>
            </div>
        </header>
        <div id="calendar"></div>
        <!-- Edit event(更改指派人員) -->
        <div class="modal fade" id="edit-event" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="edit-event__form">
                        <div class="modal-body">
                            <div class="row">
                                <p class="col-3">課程資訊</p><span class="col-9">10:00｜2018-1-1｜課程管理</span>
                                <p class="col-3">課程代碼</p><span class="col-9">SYACDFU</span>
                                <p class="col-3">客群名稱</p><span class="col-9">合作機關項目</span>
                                <p class="col-3">客戶姓名</p><span class="col-9">辛普森</span>
                                <p class="col-3">連絡電話</p><span class="col-9">0954871364</span>
                                <p class="col-3">人數</p><span class="col-9">8</span>
                            </div>
                            <div class="form-group">
                                <label for="assignedto">更改指派人員</label>
                                <select class="form-control edit-event__assigned assignedto">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input type="hidden" class="edit-event__id">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-link" data-calendar="update">Update</button>
                            <button class="btn btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>