<div class="card mt-2">
    <div class="card-body">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active">
                    <span class="page-link">
                        1
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">年、月</th>
                    <th scope="col">日</th>
                    <th scope="col">客戶姓名</th>
                    <th scope="col">客戶聯絡電話</th>
                    <th scope="col">課程</th>
                    <th scope="col">被指派員工</th>
                    <th scope="col">實際人數</th>
                    <th scope="col">回報備註</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2017年12月</th>
                    <td>11</td>
                    <td>Xin_yi</td>
                    <td>0912345678</td>
                    <td>工廠管理</td>
                    <td>Mark</td>
                    <td>8</td>
                    <td style="width:300px;">有兩個人翹課沒來，還有一個燒了工廠，有三個被老闆徵召變成員工</td>
                </tr>
                <tr>
                    <th scope="row">2017年2月</th>
                    <td>11</td>
                    <td>Xin_yi</td>
                    <td>0912345678</td>
                    <td>工廠管理</td>
                    <td>Mark</td>
                    <td>8</td>
                    <td style="width:300px;">未回報</td>
                </tr>
            </tbody>
        </table>         
    </div>
</div>