<div class="col-lg-6 col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">預約詳細資訊</h4>
    </div>
    <div class="card-body">
      <form method="post">
      
        {% csrf_token %}
        <input class="d-none" id="hidden-order-pk" name="order_pk" value="">
        <input class="d-none" id="hidden-ticket-pk" name="ticket_pk" value="">
        <div class="form-group row">
          <p class="col-sm-3 mb-3">客戶</p>
          <div class="col-sm-9 ">
            <span id="span-username"></span>
          </div>
          <p class="col-sm-3 mb-3">課程名稱</p>
          <div class="col-sm-9">
            <span id="span-service-title"></span>
          </div>
          <p class="col-sm-3 mb-3">確認狀態</p>
          <div class="col-sm-9">
            <span id="span-status"></span>
          </div>
          <p class="col-sm-3 mb-3">指派人員</p>
          <div class="col-sm-9">
            <select required name="assign_to" class="custom-select form-control-plaintext" type="text">
                <option selected value="" >指派人員</option>
                {% for user in all_user%}
                    <option value="{{user.pk}}">{{user.username}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <h5>客戶連絡資訊</h5>
        <div class="col-12">
          <div class="form-group row">
            <p class="col-sm-3 mb-3 pl-0">姓名</p>
            <div class="col-sm-9">
              <span id="span-name"></span>
            </div>
            <p class="col-sm-3 mb-3 pl-0">聯絡號碼</p>
            <div class="col-sm-9">
              <span id="span-phone"></span>
            </div>
            <p class="col-sm-3 mb-3 pl-0">電郵地址</p>
            <div class="col-sm-9">
              <span id="span-email"></span>
            </div>
            <p class="col-sm-3 mb-3 pl-0">居住地</p>
            <div class="col-sm-9">
              <span id="span-address"></span>
            </div>
            <div class="col px-0">
              <button class="btn btn-success btn-sm " href="" role="button">
                <i class="fa fa-check" aria-hidden="true"></i>儲存</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
