<div class="card mt-2 col-12">
    <div class="card-body p-2">
        
        
            <div class="form-row">
                <table class="table">
                    <thead>
                        <tr class="row">
                            <th scope="col" class="col">年</th>
                            <th scope="col" class="col">月</th>
                            <th scope="col" class="col">指派人員</th><!--********************新增的*****************-->
                            <th scope="col" class="col">被指派人員</th><!--********************新增的*****************-->
                            <th scope="col" class="col">關鍵字</th>
                        </tr>    
                    </thead>
                </table>
            </div>
        
            <div class="form-row">
                            
                <div class="form-group col">
                    <label for="ticketdate"></label>
                    <input type="number" min="2017" class="form-control" id="ticket-year" placeholder="Year">
                </div>
            
                <div class="form-group col">
                    <label for="ticketmonth"></label>
                    <input type="number" min="1" max="12" class="form-control" id="ticket-month" placeholder="月">
                </div>

                <div class="form-group col">
                    <label for="pastclass"></label>
                    <input type="text" class="form-control" id="assigned_by" placeholder="指派人員"><!--********************新增的*****************-->
                </div>

                <div class="form-group col">
                    <label for="pastclass"></label>
                    <input type="text" class="form-control" id="assigned_to" placeholder="被指派人員"><!--********************新增的*****************-->
                </div>

                <div class="form-group col">
                    <label for="pastclass"></label>
                    <input type="text" class="form-control" id="keywords" placeholder="Key Words">
                </div>
            </div>
            <button id="btn-search" class="btn btn-primary float-right col-2" role="button">篩選</button>
        
    </div>
</div>