{% extends 'admin_site/base.html' %}

{% block title %}首頁{% endblock %}

{% block meta%}
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<h3 class="page-heading mb-4">
  工作台
</h3>
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          {% include 'admin_site/index/index_calendar.html' %}
          <div class="col pt-2">
            <div class="card">
              <h5 class="card-title">工作派任單</h5>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active text-danger" data-toggle="tab" href="#aweek">本週</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" data-toggle="tab" href="#twomonth">兩個月</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" data-toggle="tab" href="#return">已回報</a>
                </li>
              </ul>
              <div class="tab-content">
                {% include 'admin_site/index/assigned_aweek.html'%} {% include 'admin_site/index/assigned_twomonth.html'%} {% include 'admin_site/index/assigned_return.html'%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var date = new Date();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      header: {
        right: '',
        center: '',
        left: ''
      },
      buttonIcons: {
        prev: 'calendar__prev',
        next: 'calendar__next'
      },
      theme: false,
      selectable: true,
      selectHelper: true,
      editable: true,

      events: [

        {% for i in allOrder %}
                    {
        "id": {{ i.id }},
    "title": "{{i.title}}" + "\n" + "{{i.title2}}",
    "start": "{{i.start | safe}}",
    "allDay": true,
    "description": "{{i.description}}"
                    },

    {% endfor %}
            ],

    /*viewRender: function (view) {
        var calendarDate = $('#calendar').fullCalendar('getDate');
        var calendarMonth = calendarDate.month();

        //Set data attribute for header. This is used to switch header images using css
        $('#calendar .fc-toolbar').attr('data-calendar-month', calendarMonth);

        //Set title in page header
        $('.content__title--calendar > h1').html(view.title);
    },
    */
    eventRender: function (evnet, element, view) {
      $('.fc-event').css('line-height', '2.3');
    },
    eventClick: function (event, element) {
      var modal_id = "#edit-event" + String(event.id);
      $(modal_id).modal('show');
      $('.edit-event__id').val(event.id);
      $('.edit-event__title').val(event.title);
      $('.edit-event__description').val(event.description);
    }
        });

  //Update/Delete an Event (non-Delete)
  $('body').on('click', '[data-calendar]', function () {
    var calendarAction = $(this).data('calendar');
    var currentId = $('.edit-event__id').val();
    var currentTitle = $('.edit-event__title').val();
    var currentDesc = $('.edit-event__description').val();
    var currentEvent = $('#calendar').fullCalendar('clientEvents', currentId);
    //Update
    if (calendarAction === 'update') {
      if (currentTitle != '') {
        currentEvent[0].title = currentTitle;
        currentEvent[0].description = currentDesc;

        $('#calendar').fullCalendar('updateEvent', currentEvent[0]);
        $('#edit-event').modal('hide');
      }
      else {
        $('.edit-event__title').closest('.form-group').addClass('has-error');
        $('.edit-event__title').focus();
      }
    }
  });
  //Calendar views switch
  $('body').on('click', '[data-calendar-view]', function (e) {
    e.preventDefault();
    $('[data-calendar-view]').removeClass('actions__item--active');
    $(this).addClass('actions__item--active');
    var calendarView = $(this).attr('data-calendar-view');
    $('#calendar').fullCalendar('changeView', calendarView);
  });
  //Calendar Next
  $('body').on('click', '.actions__calender-next', function (e) {
    e.preventDefault();
    $('#calendar').fullCalendar('next');
  });
  //Calendar Prev
  $('body').on('click', '.actions__calender-prev', function (e) {
    e.preventDefault();
    $('#calendar').fullCalendar('prev');
  });
    });  
</script>
{% endblock %}
