<section class="content col-md-7 col-sm-12 mt-3">
  <h5 class="card-title">預約導覽行程表</h5>
  <div class="content__inner">
    <div id="calendar"></div>

    {% for t in allTicket %}

    <div class="modal fade" id="edit-event{{t.pk}}" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <p class="col-3">課程資訊</p>
              <span class="col-9">{{t.order.service_type.service_title}}</span>
              <p class="col-3">課程代碼</p>
              <span class="col-9">{{t.order.service_type.service_code}}</span>
              <p class="col-3">客群名稱</p>
              <span class="col-9">{{t.order.customer_type.customer_title}}</span>
              <p class="col-3">客戶姓名</p>
              <span class="col-9">{{t.order.customer_details.name}}</span>
              <p class="col-3">連絡電話</p>
              <span class="col-9">{{t.order.customer_details.phone}}</span>
              <p class="col-3">人數</p>
              <span class="col-9">{{t.order.number_of_customer}}</span>
              {% if t.finished == True %}
              <p class="col-3">帶團情況</p>
              <span class="col-9">完成</span>
              {% else %}
              <p class="col-3">帶團情況</p>
              <span class="col-9">未完成</span>
              {% endif%} {% if t.reported_customer_number %}
              <p class="col-3">實際人數</p>
              <span class="col-9">{{reported_customer_number}}</span>
              {% else %}
              <p class="col-3">實際人數</p>
              <span class="col-9">-</span>
              {% endif %}
              <p class="col-3">備註</p>
              <span class="col-9">{{t.reminder}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
