<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}重設密碼{% endblock %}

{% block meta%} 
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}
<div class="card card-login mx-auto mt-5">
    <div class="card-header">重設密碼</div>
    <div class="card-body">
        <div class="text-center mt-4 mb-5">
            <p>請輸入密碼，並再次確認密碼</p>
        </div>
        <form>
            <div class="form-row">
                <div class="col-12 mb-2">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 mb-2">
                    <label for="password">再次輸入密碼</label>
                    <input type="password" class="form-control" name="password-confirm" id="password-confirm">
                </div>
            </div>
        </form>
        <div class="row">
            <button id="btn-submit" class="btn btn-primary btn-block mx-auto col-2" href="" type="submit">送出 <i class="fa fa-floppy-o"></i></button>
        </div>
    </div>
</div>
{% endblock %}