<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}忘記密碼{% endblock %}

{% block meta%} 
{% endblock %}

{% block extraheader%}
{% endblock%}

{% block body %}

<div id="main" class="container mb-3">
    <div class="row">
        <h3 class="col-12 d-flex justify-content-center">忘記密碼</h3>
        <div class="card mx-auto mt-5">
            <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <p>輸入您的電子信箱,我們會向您說明如何找回密碼</p>
            </div>
            <form>
                <div class="form-group">
                <input class="form-control" id="InputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
                </div>
                <a class="btn btn-primary btn-block" href="" type="submit">送出</a>
            </form>
            <div class="text-center">
                <a class="small" href="">登入</a>
                <!--user/signin.html-->
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
