<form method="post">
    <div class="form-row">
        <p class="col-2 col-form-label p-1 mb-2">E-mail </p>
        <span><label id="account" class="p-1"></label></span>
    </div>
    <div class="form-row">
        <div class="col-6 mb-2">
            <label for="first-name">名</label>
            <input type="text" class="form-control" id="first-name" placeholder="First name" required>
        </div>
        <div class="col-6 mb-2">
            <label for="last-name">姓</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last name" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 mb-2">
            <label for="phonenumber">連絡電話</label>
            <input type="tel" class="form-control" id="phonenumber" placeholder="phonenumber" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 mb-2">
            <label for="password">密碼</label>
            <input type="password" class="form-control" id="password" placeholder="密碼" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 mb-2">
            <label for="password">再次輸入密碼</label>
            <input type="password" class="form-control" id="password" placeholder="密碼" required>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary save mx-auto col-2">儲存 <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>
</form>