<div class="container personal-info">
    <div class="row">
        <div class="card border-info mb-3 col-12 px-0">
            <div class="card-header bg-info text-white text-center">個人資料</div>
            <div class="card-body row">
                <p class="col-4 text-right my-0">姓名 ｜ </p>
                <span class="col-8 phone">小雞逼逼</span>
                <P class="col-4 text-right my-0">帳號 ｜</P>
                <span class="col-8 account">xinyii_lin@zhelang.com.tw</span>
                <p class="col-4 text-right my-0">密碼 ｜ </p>
                <span class="col-8 password">********</span>
                <p class="col-4 text-right my-0">電話 ｜ </p>
                 <span class="col-8 phone">0946456173</span>
                <p class="col-4 text-right my-0">E-mail ｜ </p>
                <span class="col-8 phone">0946456173</span>
                <a class="btn btn-outline-info mx-auto" >編輯個人資料</a>
                <!--會連到user/alter_personalinfo.html-->
            </div>
        </div>
    </div>
</div>