<div class="col-lg-8 col-sm-12 my-2 mx-auto">
    <div class="card">
        <div class="card-header">編輯個人資料</div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <label for="account" class="col-1 col-form-label">帳號</label>
                        <div class="col">
                            <input type="text" readonly class="form-control-plaintext" id="account" value="dachen">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6 mb-2">
                            <label for="first-name">名</label>
                            <input type="text" class="form-control" id="first-name" placeholder="First name" value="大謙" required>
                        </div>
                        <div class="col-6 mb-2">
                            <label for="last-name">姓</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Last name" value="張" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-2">
                            <label for="phonenumber">連絡電話</label>
                            <input type="tel" class="form-control" id="phonenumber" placeholder="phonenumber" value="0936458716" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-2">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="E-mail" value="dachen@gmail.com" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-2">
                            <label for="password">密碼</label>
                            <input type="password" class="form-control" id="password" placeholder="密碼" value="64165165" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-2">
                            <label for="password">再次輸入密碼</label>
                            <input type="password" class="form-control" id="password" placeholder="密碼" value="64165165" required>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-block mx-auto col-2" href="" type="submit">儲存 <i class="fa fa-floppy-o"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>