<div class="col pt-2">
    <div class="card">
        <div class="card-header">
            <h4>編輯訂單狀況
            </h4>
        </div>
        <div class="card-body col py-1">
            <form method="post">
                <div class="form-group row">
                    <p class="col-sm-3 mb-3">課程</p>
                    <div class="col-sm-9 ">
                        <span id="span-service-title">揪團吃饅頭</span>
                    </div>
                    <p class="col-sm-3 mb-3">客群</p>
                    <div class="col-sm-9">
                        <span id="span-service-title">合作機關建議項目</span>
                    </div>
                    <p class="col-sm-3 mb-3">客戶姓名</p>
                    <div class="col-sm-9">
                        <span id="span-username">麥當當</span>
                    </div>
                    <p class="col-sm-3 mb-3">聯絡號碼</p>
                    <div class="col-sm-9">
                        <span id="span-phone">918697537</span>
                    </div>
                    <p class="col-sm-3 mb-3">Assigned By</p>
                    <div class="col-sm-9">
                        <span>xinyii_lin</span>
                    </div>
                    <p class="col-sm-3 mb-3">確認狀態</p>
                    <div class="col-sm-9">
                        <span id="span-status" class="primary">已確認</span>
                    </div>
                    <p class="col-sm-3 mb-3">指派人員</p>
                    <div class="col-sm-9">
                        <select required="" name="assign_to" class="custom-select form-control-plaintext" type="text">
                            <option selected="" value="">指派人員</option>
                                <option value="1">root</option>
                                <option value="2">pandamanchung</option>
                                <option value="3">GloomCheng</option>
                                <option value="4">afa24fd342dc4de0</option>
                                <option value="5">pandamanchung362c9444ab2a4e7b</option>
                                <option value="6">ChungWaiChung</option>
                                <option value="7">xinyii_lin</option>
                                <option value="8">xinyii_lin@zhelang.com.tw</option>
                                <option value="9">sss86x7x5@yahoo.com.tw</option>
                                <option value="10">oi9797@gmail.com</option>
                                <option value="11">xinyiiilin@gmail.com</option>
                                <option value="12">didierlin</option>
                        </select>
                    </div>
                    <p class="col-sm-3 mb-3">時間</p>
                    <div class="col-sm-9">
                        <span>2017-12-20 | 10:00:00</span>
                    </div>
                    <p class="col-sm-3 mb-3">人數</p>
                    <div class="col-sm-9">
                        <span>3</span>
                    </div>
                    <small class="text-muted col-12">*已帶完團請繼續填寫下半部分</small>
                    <div class="col-sm-3 mb-3">帶團情況</div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ordercheck">
                            <label class="form-check-label" for="ordercheck">已帶完
                            </label>
                        </div>
                    </div>
                    <p class="col-sm-3 mb-3">實際人數</p>
                    <div class="col-sm-9">
                        <input class="form-control" type="number">
                    </div>
                    <p class="col-sm-3 mb-3">備註</p>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="remark" rows="2"></textarea>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-sm " href="" role="button">
                        <i class="fa fa-check" aria-hidden="true"></i>儲存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>