
<div class="row tab-pane active" id="aweek">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mx-auto">
                    <a class="btn btn-light col m-1 text-left collapsed" data-toggle="collapse" href="#ticket3" aria-expanded="false" aria-controls="order3">
                        SYACDFU || 2017-11-03 | 14:00:00
                    </a>
                    <a value="3" href="./alter.html" class="btn-edit-ticket btn btn-outline-secondary col-1 m-1" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>        
                    <div class="col-12 px-1 collapse" id="ticket3">
                        <div class="card card-body">
                            <table class="table-sm">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">課程</th>
                                        <td>揪團吃饅頭</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客群</th>
                                        <td>合作機關建議項目</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客戶姓名</th>
                                        <td>root</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客戶電話</th>
                                        <td>0927288975</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Assigned By</th>
                                        <td>root</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Assigned To</th>
                                        <td>root</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">時間</th>
                                        <td>2017-11-03 | 14:00:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">人數</th>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Created at</th>
                                        <td>Dec. 14, 2017, 4:43 p.m.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>