
<div class="row tab-pane" id="comply">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mx-auto">
                    <a class="btn btn-light col m-1 text-left" data-toggle="collapse" href="#ticket11" aria-expanded="false" aria-controls="order3">
                        WECKDXT || 2017-12-20 | 10:00:00
                    </a>
                    <a value="11" href="./alter.html" class="btn-edit-ticket btn btn-outline-secondary col-1 m-1" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>                    
                    <div class="collapse col-12 px-1" id="ticket11">
                        <div class="card card-body">
                            <table class="table-sm">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">課程</th>
                                        <td>揪團吃饅頭</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客群</th>
                                        <td>合作機關建議項目</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客戶姓名</th>
                                        <td>root</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">客戶電話</th>
                                        <td>0927288975</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Assigned By</th>
                                        <td>root</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Assigned To</th>
                                        <td>GloomCheng</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">時間</th>
                                        <td>2017-12-20 | 10:00:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">人數</th>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">實際人數</th>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Created at</th>
                                        <td>Dec. 20, 2017, 7:09 p.m.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">回報日期</th>
                                        <td>Jan. 20, 2018, 18:00 p.m.</td>
                                    </tr>  
                                    <tr>
                                        <th scope="row">備註</th>
                                        <td>有一個人肚子痛沒來，參與者忍者龜轟掉天花板</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>