<div class="col-lg-4 col-sm-12 pt-2">
    <div class="card">
        <div class="card-header">
            <h4>個人資料</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <p class="col-4 col-form-label">姓名</p>
                <div class="col-8">張大謙</div>
            </div>
            <div class="form-group row">
                <p class="col-4 col-form-label">帳號</p>
                <div class="col-8">dachen</div>
            </div>
            <div class="form-group row">
                <p class="col-4 col-form-label">密碼</p>
                <div class="col-8">*******</div>
            </div>
            <div class="form-group row">
                <p class="col-4 col-form-label">E-mail</p>
                <div class="col-8">dachen@gmail.com</div>
            </div>
            <div class="form-group row">
                <p class="col-4 col-form-label">連絡電話</p>
                <div class="col-8">0936458716</div>
            </div>
            <a href="" class="btn btn-outline-secondary">編輯 <i class="fa fa-pencil" aria-hidden="true"></i></a>
            <!--這邊會連到index_accountmana-->
        </div>
    </div>
</div>