<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | 裕隆教育導覽中心管理系統</title>
        {% block meta %}
        {% endblock %}
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}" />
        <link rel='stylesheet' type="text/css" href="{% static 'lib/Highcharts/css/highcharts.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}" />
        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
        <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
        <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
        <script src="{% static 'lib/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'lib/Highcharts/js/highcharts.js' %}"></script>
        <script src="{% static 'lib/Highcharts/js/modules/exporting.js' %}"></script>
        <script src="{% static 'lib/bootstrap/assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'lib/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'lib/retina/retina.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
        <script src="{% static 'js/sb-admin.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
        
        {% block extraheader %}
        {% endblock %}
    </head>
    <body class="fixed-nav sticky-footer bg-light" id="page-top">
    
        {% block navbar %}
            {% include 'admin/admin-navbar.html' %}
        {% endblock %}
        
        <div class="content-wrapper">
            <div class="container">
                {% block breadcrumb %}
                    {% include 'admin/admin-breadcrumb.html' %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div> <!-- /.container-fluid-->
        </div> <!-- /.content-wrapper-->
        
        {% block footer %} 
            {% include 'admin/admin-footer.html' %}
        {% endblock %}
        
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </body>
  </html>
