<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} | 裕隆教育導覽中心管理系統</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'lib/marterial-design-iconic-font/css/material-design-iconic-font.min.css' %}" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
  <link rel="stylesheet" href="{% static 'lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/fullcalendar/fullcalendar.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/bootstrap-switch/css/bootstrap-switch.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/bootstrap-select/css/bootstrap-select.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  <script src="{% static 'lib/fullcalendar/lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'lib/fullcalendar/locale-all.js' %}"></script>
  {% block extraheader %}
  {% endblock %}
</head>

<body>
  <div class="container-scroller">
    {% include 'admin/admin-navbar.html' %}

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        {% include 'admin/admin-sidebar.html' %}

        <div class="content-wrapper">
          {% block alert %}
          {% endblock %}
          {% block body %}
          {% endblock %}
        </div>

        {% include 'admin/admin-footer.html' %}
      </div>
    </div>
  </div>

  <script src="{% static 'lib/popper.js/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-switch/js/bootstrap-switch.js' %}"></script>
  <script src="{% static 'lib/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
</body>

</html>
